<!DOCTYPE html>
<html>
<head>
  <title>usdl4edu</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner" style="padding-left:30px;">
    <a class="brand" href="#">usdl4edu</a>
    <% if @isIndex %>
    <a href="#myModal" role="button" class="btn pull-right" data-toggle="modal" style="margin-right:60px">Import Vocabulary</a>
    <%end%>
  </div>
</div>

<div class="divbody">
  <% if flash[:notice] %>
    <div class="alert alert-success">
        <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-error">
        <%= flash[:error] %>
    </div>
  <% end %>
	<div class="row">
		<div class="span6">
      
        <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <% count=1 %>
            <% @organizations.each do |organization| %>
              <% if count==1 %>
                <li class="active"><a href="#tab<%=count%>" data-toggle="tab" class="btn-large">
                  <%=organization%>&nbsp;&nbsp;<span class="badge badge-success pull-right"><%= @services.select{|a| a.organization==organization}.size%></span>
                </a></li>
              <% else %>
                <li><a href="#tab<%=count%>" data-toggle="tab" class="btn-large" >
                  <%=organization%>&nbsp;&nbsp;<span class="badge badge-success pull-right"><%= @services.select{|a| a.organization==organization}.size%></span>
                </a></li>
              <% end %>
              <% count+=1 %>
            <%end%>
          </ul>

          <div class="tab-content">

            <% count=1 %>
            <% @organizations.each do |organization| %>
              <% if count==1 %>
                <div class="tab-pane active" id="tab<%=count%>">

                  <% @services.each do |service| %>
                    <% if service.organization==organization %>
                      <p><button class="btn btn-small disabled"> <%=service.title%></button><i class="icon-ok icon-green"></i><i class="icon-remove icon-red"></i></p>
                    <% end %>
                  <% end %>

                </div>
              <% else %>
                <div class="tab-pane" id="tab<%=count%>">

                  <% @services.each do |service| %>
                    <% if service.organization==organization %>
                      <p><button class="btn btn-small disabled"> <%=service.title%></button><i class="icon-ok icon-green"></i><i class="icon-remove icon-red"></i></p>
                    <% end %>
                  <% end %>

                </div>
              <% end %>
              <% count+=1 %>
            <%end%>

          </div>
        </div>
    </div>
		<div class="span6">
			<%= yield %>
		</div>
	</div>
</div>


<% if @isIndex %>
<%= form_tag "/service_import", :multipart => true do %>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Import Vocabulary</h3>
  </div>
  <div class="modal-body">
    <p><%= file_field_tag "file" %></p>
  </div>
    <div class="modal-footer">
    
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= submit_tag "Import file", class: "btn btn-primary"%>
  </div>
</div>
<% end %>
<%end%>


</body>
</html>
